.footer_wrapper {
  background-color: black;
  margin-top: 4vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
}
@media only screen and (max-width: 600px){
.footer_wrapper{
flex-direction: column;
}
}
